### Git IGNORANCE FILE ------------------------------------------------------------
# X. OS related
!.DS_Store


# 1. Git and related installer system related files 
# -------------------------------------------------
.gitignore
.git/*
composer.lock
composer.phar

# 2. IDE (Eclipse, Atom, ST3 etc.) related files
# -------------------------------------------------
.settings/*
.buildpath
.project
.*.swp

# 3. CakePHP related
# -------------------------------------------------
tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty
